module.exports = {
    host : 'localhost',
    port : 8000,
    db : {
        host: 'localhost',
        user: 'root',
        password: 'pass',
        database: 'money_saver_v1'
    },
    JWT_ACCESS_TOKEN_SECRET: "test"
}